.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading {
  top: 176px;
  left: 946px;
  color: #ffffff;
  margin: auto;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
}

.home-text {
  top: 344px;
  left: 388px;
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-maxwidth);
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: Comic Sans MS;
}
.home-container1 {
  top: 617px;
  left: 62px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-stats {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 28px;
  margin: auto;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text10 {
  color: #FF7C4C;
  font-size: 3rem;
}
.home-text13 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text14 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text15 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.home-text16 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text17 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text18 {
  color: #FF7C4C;
  font-size: 3rem;
}
.home-text21 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text22 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text26 {
  color: #FF7C4C;
  font-size: 3rem;
}
.home-text28 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text29 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-link {
  top: 556px;
  left: 1035px;
  color: #ffffff;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  text-decoration: none;
  background-color: #000000;
}
.home-image {
  width: 100%;
  height: 1010px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .home-heading {
    top: 193px;
    left: 708px;
  }
  .home-text {
    top: 316px;
    left: 147px;
  }
  .home-link {
    top: 511px;
    left: 793px;
  }
}
@media(max-width: 1200px) {
  .home-heading {
    top: 193px;
    left: 470px;
  }
  .home-text {
    top: 307px;
    left: -91px;
  }
  .home-link {
    top: 494px;
    left: 555px;
  }
}
@media(max-width: 991px) {
  .home-heading {
    top: 206px;
    left: 360px;
  }
  .home-text {
    top: 305px;
    left: -197px;
  }
  .home-text10 {
    text-align: center;
  }
  .home-text15 {
    text-align: center;
  }
  .home-text18 {
    text-align: center;
  }
  .home-text26 {
    text-align: center;
  }
  .home-link {
    top: 484px;
    left: 445px;
  }
}
@media(max-width: 767px) {
  .home-heading {
    top: 216px;
    left: 251px;
  }
  .home-text {
    top: 308px;
    left: -307px;
    font-size: 17px;
  }
  .home-container1 {
    flex-direction: column;
  }
  .home-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .home-text13 {
    text-align: center;
  }
  .home-text16 {
    text-align: center;
  }
  .home-text21 {
    text-align: center;
  }
  .home-text28 {
    text-align: center;
  }
  .home-link {
    top: 483px;
    left: 334px;
  }
}
@media(max-width: 479px) {
  .home-heading {
    top: 118px;
    left: 152px;
    width: 231px;
    padding-bottom: 3px;
  }
  .home-text {
    top: 277px;
    left: -439px;
    font-size: 10px;
  }
  .home-container1 {
    flex-direction: column;
  }
  .home-stats {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-link {
    top: 353px;
    right: 173px;
  }
}
